.offers{
    margin-bottom: 30px;
}
.newOfferBlock input{
    margin-bottom: 3px;
    background-color: #F0FFFF;
}
.tokens .row{
    margin-top: 4px !important;
}
.save-changes-btn{
    margin-bottom: 60px;
}

.tokens input{
    margin-bottom: 3px !important;
}

.tokens button{
    margin-top: 30px;
}

.validation-message {
    margin-left: 5px;
}



.dashed-bottom{
    padding-bottom: 20px;
    border-bottom: 1px dashed #4D90FD
}
.data-load{
    position: absolute;
    background-color: #d9edf7;
    height: 470px;
    opacity: 0.4;
    text-align: center;
    vertical-align: middle;
}
.data-load img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}
.data-load span{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    color: #c00;
    font-size: 19px;
    z-index: 1000;
}
#offersRequirements .input-group{
    margin-bottom: 0px;
}
#offersRequirements .form-group{
    margin-bottom: 0px;
}
.group-required{
    color: #cc0000;
}

.selectCampaign{
    margin-top: 40px;
}
.refreshReport{
    margin-top: 29px;
}