<div class="content" ng-controller="campaignOffersController">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Campaign Offers</h3>
                </div>
                <div class="content">
                    <div class="row">
                        <div ng-repeat="offer in campaignOffers" class="col-md-9 offers">

                            <div class="row">
                                <label class="col-sm-3 text-right">Name:</label>
                                <input class="col-sm-6" type="text" name="offerName{{$index}}"
                                       ng-model="offer.name" required=""/>
                                <div ng-show="form.$submitted || form.{{'offerName'+ $index}}.$touched"  >
                                    <span class="text-danger validation-message" ng-show="form.{{'offerName'+ $index}}.$error.required">Offer name is required.</span>
                                    <span class="text-danger validation-message" ng-show="form.{{'offerName'+ $index}}.$error.text">Offer name must be text.</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 text-right">Url:</label>
                                <input class="col-sm-6" type="url" name="offerUrl{{$index}}"
                                       ng-model="offer.url" required=""/>
                                <div ng-show="form.$submitted || form.{{'offerUrl'+ $index}}.$touched"  >
                                    <span class="text-danger validation-message" ng-show="form.{{'offerUrl'+ $index}}.$error.required">Offer url is required.</span>
                                    <span class="text-danger validation-message" ng-show="form.{{'offerUrl'+ $index}}.$error.url">It must be url.</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 text-right">Weight:</label>
                                <input class="col-sm-6" type="number" name="offerWeight{{$index}}"
                                       ng-model="offer.weight" required=""/>
                                <div ng-show="form.$submitted || form.{{'offerWeight'+ $index}}.$touched"  >
                                    <span class="text-danger validation-message" ng-show="form.{{'offerWeight'+ $index}}.$error.required">Offer weight is required.</span>
                                    <span class="text-danger validation-message" ng-show="form.{{'offerWeight'+ $index}}.$error.number">Offer weight must be numeric.</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 text-right">Payout:</label>
                                <input class="col-sm-6" type="number" name="offerPayout{{$index}}"
                                       ng-model="offer.payout" required=""/>
                                <div ng-show="form.$submitted || form.{{'offerPayout'+ $index}}.$touched"  >
                                    <span class="text-danger validation-message" ng-show="form.{{'offerPayout'+ $index}}.$error.required">Offer payout is required.</span>
                                    <span class="text-danger validation-message" ng-show="form.{{'offerPayout'+ $index}}.$error.number">Offer payout must be numeric.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7"></div>
                        <div class="col-md-2">
                            <button type="button" ng-click="addOffer()" class="btn btn-success">Add Offer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>