<div class="content tokens" ng-controller="campaignTokensController">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Campaign Tokens</h3>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-repeat="token in campaignTokens">

                                <h3>Token {{$index+1}}:</h3>
                                <div class="row">
                                    <div class="control-group">
                                        <div class="col-sm-3">
                                            <label>Name:</label>
                                            <input class="form-control" type="text" name="tokenName{{$index}}" ng-model="token.name" required=""/>
                                            <div ng-show="form.$submitted || form.{{'tokenName'+ $index}}.$touched"  >
                                                <span class="text-danger validation-message" ng-show="form.{{'tokenName'+ $index}}.$error.required">Token name is required.</span>
                                                <span class="text-danger validation-message" ng-show="form.{{'tokenName'+ $index}}.$error.text">Token name must be text.</span>
                                            </div>

                                        </div>

                                        <div class="col-sm-3">
                                            <label>Value:</label>
                                            <input class="form-control" type="text" name="tokenValue{{$index}}" ng-model="token.value" required=""/>
                                            <div ng-show="form.$submitted || form.{{'tokenValue'+ $index}}.$touched"  >
                                                <span class="text-danger validation-message" ng-show="form.{{'tokenValue'+ $index}}.$error.required">Token name is required.</span>
                                                <span class="text-danger validation-message" ng-show="form.{{'tokenValue'+ $index}}.$error.text">Token name must be text.</span>
                                            </div>

                                        </div>

                                        <div class="col-sm-3">
                                            <label>Label:</label>
                                            <input class="form-control" type="text" name="tokenLabel{{$index}}" ng-model="token.label"/>
                                            <div ng-show="form.$submitted || form.{{'tokenLabel'+ $index}}.$touched"  >
                                                <span class="text-danger validation-message" ng-show="form.{{'tokenLabel'+ $index}}.$error.required">Token label is required.</span>
                                                <span class="text-danger validation-message" ng-show="form.{{'tokenLabel'+ $index}}.$error.text">Token label must be text.</span>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <a href="" ng-click="removeToken($index)">Remove</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 text-right">
                            <button type="button" ng-click="addToken()" class="btn btn-success">Add Token</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>