<div class="content" ng-show="campaignStatsReports.length">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Data Campaign Stats</h3>
                </div>
                <div class="table-responsive">
                    <div>
                        <table class="table no-border hover">
                            <thead class="no-border">
                            <tr>
                                <th ng-repeat="column in campaignDataStatsHeaders">
                                    <field-header field="column" campaign-names="campaignNames" offer-names="offerNames"></field-header>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="no-border-y">
                            <tr ng-repeat="row in campaignStatsReports">
                                <td ng-repeat="column in campaignDataStatsHeaders">
                                    <field-data obj="row[column]" field="column"  offer-names="offerNames"></field-data>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

