<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Campaign Overview</h3>
                </div>
                <div class="table-responsive">
                    <div>
                        <table class="table no-border hover">
                            <thead class="no-border">
                            <tr>
                                <th ng-repeat="column in campaignOverviewColumns">
                                    <field-header field="column" campaign-names="campaignNames"></field-header>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="no-border-y">
                            <tr ng-repeat="row in campaignOverviewData">
                                <td ng-repeat="column in campaignOverviewColumns">
                                    <field-data obj="row[column]" field="column" campaign-names="campaignNames"></field-data>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
