<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion3" href="#ac3-1">
                            <i class="fa fa-angle-right"></i> Report requirements
                        </a>
                    </h4>
                </div>
                <div id="ac3-1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row dashed-bottom">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Campaign: </label>
                                    <select class="form-control" ng-change="changeCampaign()"
                                            data-ng-options="campaign.id as campaign.name for campaign in campaigns"
                                            data-ng-model="filters.selectedCampaign">
                                        <option value="">All Campaigns</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" ng-click="generateReportForCampaign()"
                                        class="btn btn-primary btn-sm selectCampaign"> Get report for Campaign </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Group Data By: </label>
                                    <select data-ng-model="groupByFilter.firstGroupBy" ng-change=changeGroupBy()
                                            class="form-control">
                                        <option value="">All Data</option>
                                        <option ng-repeat="(key, value) in groupFields" ng-show="showGroupByOption(key)"
                                                value="{{key}}">
                                            {{value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Then Group By: </label>
                                    <select class="form-control" data-ng-model="groupByFilter.secondGroupBy"
                                            ng-change=changeGroupBy()>
                                        <option value="">All Data</option>
                                        <option ng-repeat="(key, value) in groupFields" ng-show="showGroupByOption(key)"
                                                value="{{key}}">
                                            {{value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Then Group By: </label>
                                    <select class="form-control" data-ng-model="groupByFilter.thirdGroupBy"
                                            ng-change=changeGroupBy()>
                                        <option value="">All Data</option>
                                        <option ng-repeat="(key, value) in groupFields" ng-show="showGroupByOption(key)"
                                                value="{{key}}">
                                            {{value}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <fieldset>
                                        <label>Date Range</label>

                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="input-prepend input-group">
                                                                <span class="add-on input-group-addon primary"><span
                                                                        class="glyphicon glyphicon-th"></span></span><input
                                                        type="text" style="width: 200px" name="reservation"
                                                        id="reservation" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>TimeZone:</label>
                                    <time-zones></time-zones>
                                </div>
                                <div>
                                    <span class="text-danger validation-message"
                                          ng-show="!timeZone">Select Time Zone</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <button ng-click="generateCampaignStats()" type="button" class="btn btn-primary btn-sm refreshReport">
                                        <i class="fa  fa-refresh"></i> Apply Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
