<div class="content " ng-controller="campaignLandingPagesController">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Campaign Landing Pages</h3>
                </div>
                <div class="content">
                    <div class="row">
                        <div ng-repeat="landingPage in campaignLandingPages" class="col-md-9 offers">
                            <div class="row">
                                <label class="col-sm-3 text-right">Name:</label>
                                <input class="col-sm-6" type="text" name="lpName{{$index}}" ng-model="landingPage.name" required=""/>
                                <div ng-show="form.$submitted || form.{{'lpName'+ $index}}.$touched"  >
                                    <span class="text-danger validation-message" ng-show="form.{{'lpName'+ $index}}.$error.required">Landing page Name is required.</span>
                                    <span class="text-danger validation-message" ng-show="form.{{'lpName'+ $index}}.$error.text">Landing page Name must be text.</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 text-right">Url:</label>
                                <input class="col-sm-6" type="url" name="lpUrl{{$index}}" ng-model="landingPage.url" required=""/>
                                <div ng-show="form.$submitted || form.{{'lpUrl'+ $index}}.$touched"  >
                                    <span class="text-danger validation-message" ng-show="form.{{'lpUrl'+ $index}}.$error.required">Landing page Url is required.</span>
                                    <span class="text-danger validation-message" ng-show="form.{{'lpUrl'+ $index}}.$error.url">It must be url.</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 text-right">Weight:</label>
                                <input class="col-sm-6" type="number" name="lpWeight{{$index}}" ng-model="landingPage.weight" required=""/>
                                <div ng-show="form.$submitted || form.{{'lpWeight'+ $index}}.$touched"  >
                                    <span class="text-danger validation-message" ng-show="form.{{'lpWeight'+ $index}}.$error.required">Landing page weight is required.</span>
                                    <span class="text-danger validation-message" ng-show="form.{{'lpWeight'+ $index}}.$error.number">Landing page Weight must be numeric.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7"></div>
                        <div class="col-md-2">
                            <button type="button" ng-click="addLandingPage()" class="btn btn-success">Add Landing Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>