<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Path</h3>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
</div>