<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Conversion Link</h3>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-horizontal">
                                <input class="form-control" id="conversion-link" type="text" name="" readonly
                                       ng-model="conversionLink"/>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" ui-zeroclip zeroclip-model="conversionLink" class="btn btn-info">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>