<span ng-if="fieldName == 'campId'">{{campaignNames[object]}}</span>
<span ng-if="fieldName == 'offerId'">{{offerNames[object]}}</span>
<span ng-if="['campId', 'offerId'].indexOf(fieldName) === -1">{{object || 0}}</span>
