<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Offer Overview</h3>
                </div>
                <div class="content">
                    <div style="position: relative;" ng-class="{hidden: !loadTableData} ">
                        <div class="data-load col-md-12">
                            <img src="images/ajax-loader.gif" alt=""/>
                        </div>
                    </div>
                    <div style="position: relative;" ng-class="{hidden: !errorMessage} ">
                        <div class="data-load col-md-12">
                            <span>{{errorMessage}}</span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div>
                            <table class="table no-border hover">
                                <thead class="no-border">
                                <tr>
                                    <th ng-repeat="column in campaignOffersOverviewColumns">
                                        <field-header field="column" campaign-names="campaignNames"></field-header>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="no-border-y">
                                <tr ng-repeat="offer in offers">
                                    <td ng-repeat="column in campaignOffersOverviewColumns">
                                        <field-data obj="offer[column]" field="column" campaign-names="campaignNames"
                                                    offer-names="offerNames"></field-data>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <paging
                                class="small"
                                page="1"
                                page-size="offersPerPage"
                                total="totalCount"
                                adjacent="{{adjacent}}"
                                dots="{{dots}}"
                                scroll-top="{{scrollTop}}"
                                hide-if-empty="{{hideIfEmpty}}"
                                ul-class="{{ulClass}}"
                                active-class="{{activeClass}}"
                                disabled-class="{{disabledClass}}"
                                show-prev-next="{{showPrevNext}}"
                                paging-action="DoCtrlPagingAct(page, pageSize, total)">
                        </paging>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
