<table class="table no-border hover">
    <thead class="no-border">
    <tr>
        <th><strong>Campaign Id </strong></th>
        <th><strong>Campaign name</strong></th>
        <th><strong>Campaign Type</strong></th>
        <th class="text-center"><strong>Actions</strong></th>
    </tr>
    </thead>
    <tbody class="no-border-y">
    <tr ng-repeat="campaign in campaigns">
        <td>{{campaign.id}}</td>
        <td>{{campaign.name}}</td>
        <td>{{campaign.type.toUpperCase()}}</td>
        <td class="text-center">
            <a href="#/edit_campaign/{{campaign.id}}"
               class="btn btn-primary btn-xs"><i
                    class="fa fa-pencil"></i></a>
            <a href="#/reporting/{{campaign.id}}"
               class="btn btn-success btn-xs">Stats</a>
            <a href="#/add_campaign/{{campaign.id}}" class="btn btn-info btn-xs">Clone</a>
        </td>
    </tr>
    </tbody>
</table>