<div>
    <div id="cl-wrapper" class="fixed-menu">
        <div class="cl-sidebar" data-position="right" data-step="1">
            <div class="menu"></div>
        </div>
        <div class="page-head">
            <h2>Add Campaign</h2>
        </div>
        <form name="form" novalidate class="form-horizontal group-border-dashed"
              ng-submit="form.$valid && addCampaign()" style="border-radius: 0px;">
            <div class="cl-mcont">
                <div class="content ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block-flat">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" ng-model="campaign.name" name="campaignName"
                                               class="form-control" required="">
                                        <div ng-show="form.$submitted || form.campaignName.$touched">
                                            <span class="text-danger" ng-show="form.campaignName.$error.required">Campaign name is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Cpc</label>

                                    <div class="col-sm-6">
                                        <input type="number" ng-model="campaign.cpc" name="campaignCpc" class="form-control" required="">
                                        <div ng-show="form.$submitted || form.campaignCpc.$touched">
                                            <span class="text-danger" ng-show="form.campaignCpc.$error.required">Campaign Cpc is required.</span>
                                            <span class="text-danger" ng-show="form.campaignCpc.$error.number">Campaign Cpc must be numeric.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Type</label>

                                    <div class="col-sm-6">
                                        <label ng-repeat="campType in campaignTypes" class="radio-inline">
                                            <input name="campType" type="radio" class="icheck"
                                                                            ng-model="$parent.campaignType"
                                                                            value="{{campType.type}}">{{campType.label}}
                                        </label>
                                    </div>
                                </div>
                                <div ng-if="campaignType == 'path'" class="form-group">
                                    <label class="col-sm-3 control-label">Path Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" >
                                            <option ng-repeat="type in pathTypeCampaignTypes" value="{{type.type}}">{{type.label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div campaign-tokens-block></div>

                <div campaign-offers-block></div>

                <div ng-if="campaignType == 'landingPage'">
                    <div campaign-landing-pages-block></div>
                </div>
                <div ng-if="campaignType == 'path'">
                    <div campaign-path-block></div>
                </div>
                <div class="content save-changes-btn">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success">Save Campaign</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>