<div ng-controller="authController as auth">
    <div id="cl-wrapper" ng-app="motherTracker" class="login-container">
        <div class="middle-login">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center"><img class="logo-img" src="theme-files/images/logo.png" alt="logo"/>MT Campaigns</h3>
                </div>
                <div>
                    <form name="authForm" ng-submit="auth.sendUserCredentials(authForm)" style="margin-bottom: 0px !important;"
                          class="form-horizontal">
                        <div class="content">
                            <h4 class="title">Login Access</h4>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input name='username' type="text" ng-model="username" placeholder="Username" id="username"
                                               class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input name="password" type="password" ng-model="password" placeholder="Password" id="password"
                                               class="form-control" required>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-show="notValidCredentialsMessage" auth></div>

                        <div class="foot">
                            <!--<button class="btn btn-default" data-dismiss="modal" type="button">Register</button>-->
                            <button class="btn btn-primary" data-dismiss="modal" type="submit">Log me in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy; 2015 Click Here</a></div>
        </div>
    </div>
</div>