
<div>
    <div id="cl-wrapper" class="fixed-menu">
        <div class="cl-sidebar" data-position="right" data-step="1">
            <div class="menu"></div>
        </div>
<div class="page-head">
    <h2>Campaigns List</h2>
</div>
<div class="cl-mcont">
    <div class="content ">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="table-responsive">
                        <div campaigns-list-table></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <a href="#/add_campaign">
            <button type="button" class="btn btn-success">Add Campaign</button>
        </a>
    </div>
</div>
    </div>
</div>