<div>
    <div id="cl-wrapper" class="fixed-menu">
        <div class="cl-sidebar" data-position="right" data-step="1">
            <div class="menu"></div>
        </div>
        <div class="page-head">
            <h2>{{campaign.name}}</h2>
        </div>
        <div class="cl-mcont">
            <form novalidate="" name="form" ng-submit="form.$valid && editCampaign()"
                  class="form-horizontal group-border-dashed" style="border-radius: 0px;">
                <div class="content ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block-flat">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Name</label>

                                    <div class="col-sm-6">
                                        <input type="text" name="campaignName" ng-model="campaign.name"
                                               class="form-control" required="">

                                        <div ng-show="form.$submitted || form.campaignName.$touched">
                                            <span class="text-danger" ng-show="form.campaignName.$error.required">Campaign name is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Cpc</label>

                                    <div class="col-sm-6">
                                        <input type="number" ng-model="campaign.cpc" name="campaignCpc"
                                               class="form-control" required>

                                        <div ng-show="form.$submitted || form.campaignCpc.$touched">
                                            <span class="text-danger" ng-show="form.campaignCpc.$error.required">Campaign Cpc is required.</span>
                                            <span class="text-danger" ng-show="form.campaignCpc.$error.number">Campaign Cpc must be numeric.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div campaign-tokens-block></div>
                <div campaign-link-block></div>
                <div campaign-conversion-link-block></div>
                <div campaign-offers-block></div>
                <div ng-if="campaign.type == 'lp'">
                    <div campaign-landing-pages-block></div>
                </div>
                <div class="content save-changes-btn">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success">Update Campaign</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>