<div ng-controller="campaignStatsPageController">
    <div id="cl-wrapper" class="fixed-menu">
        <div class="cl-sidebar" data-position="right" data-step="1">
            <div class="menu"></div>
        </div>
        <div class="page-head">
            <h2>{{campaignName}}</h2>
        </div>
        <div class="cl-mcont">

            <div campaign-stats-filter></div>

            <div campaign-overview></div>

            <div offer-overview></div>

            <div campaign-stats></div>
        </div>
    </div>
</div>
